* {
    box-sizing: border-box;
    margin:0;
}

body {
    display: grid;
    place-content: center;
}

p {
    max-inline-size: 40ch;
    border: 1px solid red;
    font-size: 2rem;
    letter-spacing: 0.5em;
}